#!/usr/bin/env bash

. ./vars.env
docker network create {{.Env.NETWORK}}

#docker image build --network {{.Env.NETWORK}} --build-arg USERUID=$USERUID -t {{.Env.DOCKERIMAGE}} .
docker image build --build-arg USERUID=$USERUID -t {{.Env.DOCKERIMAGE}} .

mkdir -p {{.Env.DATADIR}}/html {{.Env.DATADIR}}/html/public
cp -p files/apache/index.html {{.Env.DATADIR}}/html
cp -p files/apache/index-public.html {{.Env.DATADIR}}/html/public/index.html
cp -p files/apache/error404.html {{.Env.DATADIR}}/html
